.site {
    width: 70%;
    max-width: 56em;
}

.footer{
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 130%;
}
h3{
    font-size: 110%;
}
.aboutSection{
    width:50%;
    float:left;
    overflow:hidden;
}

@media screen and (max-width: 720px) {
    .site {
        width: auto;
        margin: 1.5em 1em 2em;
    }

    .site .header h1.title {
        display: block;
        margin-bottom: 0.5em;
    }

    .site .header a.extra {
        margin-left: 0;
        margin-right: 1em;
    }

    .aboutSection {
        width: 100%;
        float: none;
    }
}
