<div class="page-header">
  <h1>{{ page.title }} {% if page.tagline %} <small>{{ page.tagline }}</small>{% endif %}</h1>
</div>

<div class="row">
  <div class="span_left">
    {{ content }}
  </div>
  <div class="span_right_side">
	<a href="http://fusion.google.com/add?source=atgs&feedurl=blog.qinjian.me/atom.xml"><img src="http://buttons.googlesyndication.com/fusion/add.gif" alt="Add to Google"></a>
	<iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1032062184&verifier=5c007fea&dpc=1"></iframe>
	<script type="text/javascript" src="http://www.douban.com/service/badge/36862947/?show=collection&amp;n=8&amp;columns=4&amp;hidelogo=yes" ></script>
  </div>
</div>
